
/* Main Content */
.container .main_content {
    padding: 0 95px;
    /* margin-top: 70px; */
    max-width: 1173px;
    width: 100%;
    height: 611px;
    border-radius: 10px;
    border: 3px solid #c2bbcd;
    background-image: url(../img/JapanFlag.jpg);
    background-size: 1173px 611px;
    background-position: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.asd{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:white;
    opacity: 60%;
    border-radius: 10px;
}

.text_button{
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.main_content h3 {
    max-width: 492px;
    width: 100%;
    font-size: 48px;
    margin-bottom: 25px;
    color: #5B5B5B;
}

.main_content p {
    width: 492px;
    font-size: 26px;
    margin-bottom: 30px;
    color: #000000;
}



button {
    border: 1px solid #A49DAE;
    width: 241px;
    height: 63px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 26px;
    line-height: 32px;
    color: #897B8B;
}

button:hover {
    color: #7d727e;
    background-color: #D9E3E8;
    cursor: pointer;
}
/* End of Main Content */


@media screen and (min-width: 576px) { 
    .vertical {
        color: #5B5B5B;
        font-size: 128px;
        -webkit-writing-mode: vertical-rl;
        -moz-writing-mode: vertical-rl;
        -ms-writing-mode: vertical-rl;
        writing-mode: vertical-rl;
        z-index: 2;
    }
}

/* Responsive Breakpoint */

@media screen and (max-width: 1030px) {
    .container .main_content {
        background-position: 50%;
    }

    .main_content h3 {
        max-width: 320px;
        width: 100%;
        height: auto;
        font-size: 40px;
        margin-bottom: 15px;
        color: #5B5B5B;
        /* background-color: #c2bbcd; */
    }
    
    .main_content p {
        width: 320px;
        height: auto;
        font-size: 24px;
        margin-bottom: 15px;
        color: #5B5B5B;
        /* background-color: salmon; */
    }

    button {
        border: 1px solid #A49DAE;
        width: 241px;
        height: 63px;
        border-radius: 10px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 26px;
        line-height: 32px;
        color: #897B8B;
    }
}

/* Responsive Breakpoint */

@media screen and (max-width: 860px) {
    .container .main_content {
        padding: 0 50px;
    }
}

/* Ukuran Mobile dan Tablet */
@media screen and (max-width: 768px) {

    /* Responsive Main Content */
    .container {
        margin-left: 0;
        margin-top: 90px;
        padding: 0px 30px;
    }

    .main_content h3 {
        max-width: 320px;
        width: 100%;
        height: auto;
        font-size: 36px;
        margin-bottom: 15px;
        color: #5B5B5B;
        /* background-color: #c2bbcd; */
    }
    
    .main_content p {
        width: 320px;
        height: auto;
        font-size: 24px;
        margin-bottom: 15px;
        color: #5B5B5B;
        /* background-color: salmon; */
    }

    button {
        border: 1px solid #A49DAE;
        width: 241px;
        height: 63px;
        border-radius: 10px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 26px;
        line-height: 32px;
        color: #897B8B;
    }
}

@media screen and (max-width: 576px) {
    .container .main_content {
        background-size: 300%;
        background-repeat: no-repeat;
    }

    .container .main_content{
        flex-direction: column;
        justify-content: space-around;
        height: 550px;
    }

    .main_content h3 {
        text-align: center;
        width: 100%;
        height: auto;
        font-size: 28px;
        margin-bottom: 15px;
        color: #5B5B5B;
        /* background-color: #c2bbcd; */
    }
    
    .main_content p {
        text-align: center;
        width: 320px;
        height: auto;
        font-size: 18px;
        margin-bottom: 40px;
        color: #5B5B5B;
        /* background-color: salmon; */
    }

    .text_button {
        align-items: center;
        width: auto;
    }

    button {
        border: 1px solid #A49DAE;
        width: 241px;
        height: 63px;
        border-radius: 10px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 26px;
        line-height: 32px;
        color: #897B8B;
    }

    .vertical {
        font-size: 65px;
        z-index: 2;
    }
}