/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #E8EFF2;
}

/* Container */
.container {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}
/* End of Container */

/* Side Navigation Bar */
.container .sidebar {
    width: 207px;
    height: 100%;
    background: #D9E3E8;
    padding: 11px 27px;
    position: fixed;
    box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.25);
}

.container .sidebar h1 {
    color: #A49DAE;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}

hr.new1 {
    border: 2px solid #A49DAE;
    margin-bottom: 47px;
}

.container .sidebar ul li {
    padding: 15px;
    margin-bottom: 25px;
}

.container .sidebar ul li a {
    color: #897B8B;
    display: block;
    font-size: 20px;
}

.container .sidebar ul li a .fa-solid{
    width: 25px;
}

.container .sidebar ul li a:hover {
    color: #a795a9;
}
/* End of Side Navbar */

/* Main Content */
.container .main_content {
    padding: 0 95px;
    margin-top: 70px;
    margin-left: 285px;
    width: 1173px;
    height: 611px;
    border-radius: 10px;
    border: 3px solid #c2bbcd;
    background-image: url(../img/JapanFlag.jpg);
    background-size: 1173px 611px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:white;
    opacity: 40%;
    border-radius: 10px;
}

.text_button{
    z-index: 2;
}

.main_content h3 {
    width: 492px;
    font-size: 48px;
    margin-bottom: 25px;
    color: #5B5B5B;
}

.main_content p {
    width: 492px;
    font-size: 26px;
    margin-bottom: 30px;
    color: #5B5B5B;
}

.vertical {
    color: #5B5B5B;
    font-size: 128px;
    -webkit-writing-mode: vertical-rl;
    -moz-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    z-index: 2;
}

button {
    border: 1px solid #A49DAE;
    width: 241px;
    height: 63px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 26px;
    line-height: 32px;
    color: #897B8B;
}

button:hover {
    color: #7d727e;
    background-color: #D9E3E8;
}
/* End of Main Content */