*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
}
body{
  position: relative;
  min-height: 100vh;
  background-color: #E8EFF2;
}
/* sidebar nav */
.navbar{
  display: flex;
  position: relative;
}

.navbar .sideNav{
  position: fixed;
  width: 200px;
  height: 100%;
  background: #D9E3E8;
  padding: 30px 0
}

.navbar .sideNav h2{
  color: #897B8B;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30%;
}

.navbar .sideNav ul li{
  padding: 15px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(225,225,225,0.05);
}

.navbar .sideNav ul li a{
  color:#000000;
  display: block;
}
.navbar .sideNav ul li:hover{
  display: block;
  background: #A49DAE;
}
.navbar .sideNav ul li a:hover{
  display: block;
  background: #A49DAE;
}



/* sidebar nav */