* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
}

.body {
    position: relative;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.25);
}

/* row top */
.row-top {
    position: relative;
    display: flex;
    width: auto;
    height: 47px;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}
.row-top .header-score {
    width: 86px;
    height: 33px;
    border-radius: 15px;
    background-color: #a49dae;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.row-top .fa-solid {
    cursor: pointer;
}
/* end */
/* row bot */

.row-bot {
    position: relative;
    /* background-color: #d2f5b4; */
    width: auto;
    height: 76px;
    /* margin: 0 27px; */
}

.row-bot .btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 240px;
}
.row-bot .btn-group-wr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 240px;
}

.row-bot .btn-group .fa-regular {
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    color: #69ad2e;
}

.row-bot .btn-group-wr .fa-regular {
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    color: #f85e5e;
}
.row-bot .btn-group .fa-regular span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-left: 10px;
    font-weight: bold;
    color: #69ad2e;
}
.row-bot .btn-group-wr .fa-regular span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-left: 10px;
    font-weight: bold;
    color: #f85e5e;
}

.row-bot .btn-group .info-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 45px;
    background: #7ecf38;
    border: 2px solid #7ecf38;
    outline: none;
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-top: 16px;
    transition: 0.5s;
}
.row-bot .btn-group-wr .info-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 45px;
    background: #f85e5e;
    border: 2px solid #f85e5e;
    outline: none;
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-top: 16px;
    transition: 0.5s;
}
.row-bot .btn-group .info-btn:nth-child(2) {
    background-color: #7ecf38;
    color: #ffffff;
}
.row-bot .btn-group-wr .info-btn:nth-child(2) {
    background-color: #f85e5e;
    color: #ffffff;
}

/* end bot */

/* row mid */

.row-mid {
    position: relative;
    width: auto;
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    font-weight: 500;
    background-color: #ffffff;
    border-radius: 6px;
    margin: 0 10px;
    padding-bottom: 50px;
    border-radius: 20px;
    outline: 2px solid #a49dae;
}
.quiz-section {
    display: flex;
    flex-wrap: wrap;
}

.quiz-section .quiz-box {
    position: relative;
    width: 725px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}

.quiz-header .question-text {
    font-family: "quicksand";
    font-size: 36px;
}

.option-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 1271px;
    height: 200px;
}

.option-list .option {
    width: 300px;
    height: 170px;
    background: #94989b;
    border-radius: 20px;
}
.option-list .option:hover {
    cursor: pointer;
}

.option-list .option span {
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    width: auto;
}

.option-list .correct {
    background-color: #7ecf38; /* Change the background color to green for the correct answer */
}
.option-list .incorrect {
    background-color: #f85e5e; /* Change the background color to green for the correct answer */
}

/* .row-mid .info {
    display: inline-block;
    font-size: 32px;
    color: #333;
    font-weight: 500;
    margin: 4px 0;
} */
/* end */
