* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    background-color: #E8EFF2;
}

/* row top */
.row-top {
    position: relative;
    display: flex;
    width: auto;
    padding: 30px;
    height: 47px;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}
.row-top .header-score {
    width: 86px;
    height: 33px;
    border-radius: 15px;
    background-color: #a49dae;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.row-top .fa-solid {
    cursor: pointer;
}
/* end */
/* row bot */

.row-bot {
    position: relative;
    /* background-color: #d2f5b4; */
    width: auto;
    height: 76px;
    /* margin: 0 27px; */
}

.row-bot .btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 240px;
}
.row-bot .btn-group-wr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 240px;
}

.row-bot .btn-group .fa-regular {
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    color: #69ad2e;
}

.row-bot .btn-group-wr .fa-regular {
    display: flex;
    justify-content: space-between;
    font-size: 40px;
    color: #f85e5e;
}
.row-bot .btn-group .fa-regular span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-left: 10px;
    font-weight: bold;
    color: #69ad2e;
}
.row-bot .btn-group-wr .fa-regular span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-left: 10px;
    font-weight: bold;
    color: #f85e5e;
}

.row-bot .btn-group .info-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 45px;
    background: #7ecf38;
    border: 2px solid #7ecf38;
    outline: none;
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-top: 16px;
    transition: 0.5s;
}
.row-bot .btn-group-wr .info-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 45px;
    background: #f85e5e;
    border: 2px solid #f85e5e;
    outline: none;
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-top: 16px;
    transition: 0.5s;
}
.row-bot .btn-group .info-btn:nth-child(2) {
    background-color: #7ecf38;
    color: #ffffff;
}
.row-bot .btn-group-wr .info-btn:nth-child(2) {
    background-color: #f85e5e;
    color: #ffffff;
}

/* end bot */

/* row mid */

.row-mid {
    position: relative;
    max-width: 100%;
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 500;
    background-image: url(../img/JapanFlag.jpg);
    background-size: 1173px 611px;
    background-position: 50%;
    margin: 0 10px;
    border-radius: 20px;
    outline: 2px solid #a49dae;
}

.asd{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:white;
    opacity: 60%;
    border-radius: 10px;
}

.quiz-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.quiz-section .quiz-box {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    gap: 30px;
}

.quiz-header .question-text {
    font-family: "quicksand";
    font-size: 32px;
}

.option-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-list .option {
    width: 300px;
    height: 170px;
    background: #94989b;
    border-radius: 20px;
}

.option-list form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

.option-list .option:hover {
    cursor: pointer;
}

.option-list .option span {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
}

.option-list .correct {
    background-color: #7ecf38; /* Change the background color to green for the correct answer */
}
.option-list .incorrect {
    background-color: #f85e5e; /* Change the background color to green for the correct answer */
}

/* .row-mid .info {
    display: inline-block;
    font-size: 32px;
    color: #333;
    font-weight: 500;
    margin: 4px 0;
} */
/* end */


@media screen and (max-width: 1220px) {
    .option-list .option {
        width: 250px;
        height: 175px;
        background: #94989b;
        border-radius: 20px;
    }
}

@media screen and (max-width: 1070px) {
    .row-bot .btn-group {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0;
    }

    .row-bot .btn-group-wr {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0;
    }

    .option-list form {
        align-items: center;
        align-content: center;
        justify-content: space-evenly;
    }

    .option-list .option {
        width: 200px;
        height: 150px;
    }
}

@media screen and (max-width: 1000px) {
    .option-list .option {
        width: 175px;
        height: 100px;
    }
}

@media screen and (max-width: 576px) {
    .row-mid {
        background-size: 250%;
        background-repeat: no-repeat;
    }

    .quiz-header .question-text {
        font-size: 24px;
    }

    .row-top {
        position: relative;
        display: flex;
        width: auto;
        padding: 30px;
        height: 47px;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }

    .row-bot .btn-group .fa-regular span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        margin-left: 10px;
        font-weight: bold;
        color: #69ad2e;
    }
    .row-bot .btn-group-wr .fa-regular span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        margin-left: 10px;
        font-weight: bold;
        color: #f85e5e;
    }

    .option-list {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .option-list .option {
        width: 175px;
        height: 100px;
        background: #94989b;
        border-radius: 20px;
    }

    .option-list .correct {
        background-color: #7ecf38; /* Change the background color to green for the correct answer */
    }
    .option-list .incorrect {
        background-color: #f85e5e; /* Change the background color to green for the correct answer */
    }
}